:root {
    --fc-event-bg-color: #43a4b3;
    --fc-event-border-color: #80979a;
    --fc-event-text-color: #fff;
    --border-color: #4C4640;
}

#shift-calendar-box {
    display: flex;
    flex-direction: column;
    /* padding-left: 100px; */
}

#extended-event-info {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.extended-info-member {
    padding: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.extended-info-header {
    padding: 1vh;
    font-size: large;
    color: var(--fc-event-bg-color);
    align-items: center;
}

#extended-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
}

#extended-info-placeholder {
    text-align: center;
}

#shift-calendar-box {
    display: flex;
    flex-direction: column; 
    min-height: 100%;
    font-family: sans-serif;
    font-size: 14px;
    margin: 1em 1em 1em 1em ;
}

#mouse-over-icon {
    width: 60%;
}

#shift-calendar {
    width: 95%;
    font-family: sans-serif;
    padding: 3em 2em 3em 3em;
    align-self: center;
}

.fc { /* the calendar root */
    max-width: 1100px;
    margin: 0 auto;
    font-size: 12px;
    font-family: sans-serif;
}

h2 {
    margin: 0;
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0 0 0 1.5em;
}

li {
    margin: 1.5em 0;
    padding: 0;
}

b { /* used for event dates/times */
    margin-right: 3px;
}
