@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap');
.main {
  font-family: Poppins, sans-serif;
  overflow-wrap: anywhere;
}

a, a:hover {
  color: inherit;
}